@import 'vars';
@import 'global';
@import 'fonts';


.header__top-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

}
.header__top{
  background-color: #eef1f3;
}
.header__bottom{
  height: 80px;
  background-color: #fff;
}