@import "vars";
@import "global";
@import "fonts";

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo--martplace {
  margin-left: 4px;
  font-weight: 700;
  font-size: 30px;
}

.black {
  color: #000000;
}

.blue {
  color: $blue;
}

.header__top {
  background-color: #eef1f3;
}

.header__bottom {
  background-color: #fff;
}

.header__btn-seller {
  background-color: $blue;
  color: $white;
  font-size: 14px;
  padding: 4px;
  border-radius: 18px;
  width: 132px;
  text-align: center;
}

.header__btn {
  color: $white;
  font-size: 14px;
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  display: none;
}

.header__btn--login {
  background-color: $green;
}

.header__btn--register {
  background-color: $red;
}

.hov {
  &:hover {
    color: $blue;
  }
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    display: inline;
  }

  &__list {
    display: flex;
    align-items: center;
    li {
      display: flex;
      align-items: center;
      .hov {
        padding: 20px 0;
      }
    }
  }

  &__list .drop-down:not(:last-child) {
    margin-right: 34px;
  }

  .hov {
    font-weight: 500;
    font-size: 15px;
    line-height: 42px;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.drop-down__list,
.mega-menu {
  display: none;
  position: absolute;
  top: 100%;
  flex-direction: column;
  background-color: $white;
  z-index: 1;
  border-top-color: $blue;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 20px 20px 24px 20px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.drop-down {
  &__list {
    li {
      transition: all 0.2s;
      padding-right: 66px;
      color: #54667a;
      a {
        color: #54667a;
      }
      &:hover {
        background-color: $blue;
        border-radius: 2px;
        color: $white;
        a {
          color: $white;
        }
      }
    }

    &:hover {
      display: flex;
    }
    a {
      line-height: 44px;
      padding-left: 10px;
    }
  }
  &:hover {
    .drop-down__list {
      display: flex;
    }
  }
}

.drop-down__mega {
  &:hover {
    .mega-menu {
      display: flex;
      padding: 20px;
    }
  }
  .mega-menu {
    left: 0;
    width: 100%;

    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      border-bottom: 1px solid #e8ebf0;
      padding: 20px 0;
      margin-left: 10px;
      color: #000000;
      font-weight: 500;
      margin-bottom: 20px;
    }
    &__list {
      display: flex;
      ul {
        margin-right: 15px;
        li {
          display: block;
          &:hover {
            background-color: $blue;
            border-radius: 2px;
            transition: all 0.2s;
            a {
              color: $white;
            }
          }
          a {
            color: #54667a;
            font-size: 15px;
            line-height: 42px;
            padding-left: 10px;
            padding-right: 20px;
          }
        }
      }
    }
  }
}

.header__search,
.search__box {
  line-height: 30px;
  display: flex;
  align-items: center;
  form {
    display: flex;
    position: relative;
  }

  input {
    border-width: 1px;
    border-style: solid;
    border-color: #d9dfe5;
    border-radius: 30px;
    color: #898f96;
    line-height: 30px;
    outline: transparent;
  }
  button {
    position: absolute;
    right: -1px;
    top: 0;
    border-radius: 30px;
    background-color: $blue;
    border-style: none;
    outline: transparent;
    cursor: pointer;
    color: $white;
  }
}
.header__search {
  input {
    width: 360px;
    padding: 6px 80px 6px 24px;
  }

  button {
    width: 70px;
    height: 44px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.search__box {
  input {
    width: 555px;
    padding: 11px 130px 11px 24px;
  }
  button {
    width: 110px;
    height: 54px;
  }
}

.header__box {
  display: flex;
  align-items: center;
  position: relative;
}

.user {
  margin-left: 48px;
  display: flex;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;

  &__img {
    width: 50px;
    height: 50px;
    margin-right: 22px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  &__info {
    line-height: 22px;
    cursor: pointer;
  }
  &__name {
    display: block;
    font-weight: 500;
    color: #333333;
  }
  &__money {
    display: block;
    color: $blue;
  }

  .drop-down__list {
    width: 51%;
    right: 0;
    &::after {
      right: 28px;
    }
    a {
      padding-left: 16px;
    }
    li {
      padding-left: 10px;
      padding-right: 0;
    }
  }
}

.drop-down__list,
.messages {
  &::after {
    content: "";
    border: 9px solid transparent;
    border-bottom: 10px solid $blue;
    position: absolute;
    top: -19px;
  }
}

.notification {
  .lnr-alarm {
    .messages {
      padding: 0 26px;
      left: -8px;
      &::after {
        left: 18px;
      }

      &__item {
        display: flex;
        align-items: flex-start;
        padding: 20px 0 16px 0;
        border-top: 1px solid #e8ebf0;

        .item-descr {
          display: flex;
          align-items: center;
          .lnr {
            width: 32px;
            height: 32px;
            text-align: center;
            border-radius: 50%;
            line-height: 32px;
            cursor: pointer;
          }
          .lnr-heart {
            color: $blue;
            background-color: #e6f1fd;
          }
          .lnr-bubble {
            color: #7b52c5;
            background-color: #f1ecf9;
          }
          .lnr-cart {
            color: #ff7375;
            background-color: #fff0f0;
          }
          .lnr-star {
            color: #6bd346;
            background-color: #effaeb;
          }
        }

        .item-info {
          width: 87%;
          .author-name {
            display: inline;
            .action {
              color: #747a86;
              font-weight: 400;
            }
          }

          .item-message {
            margin-top: 2px;
            color: $blue;
            font-size: 15px;
            line-height: 22px;
          }

          .author-time {
            display: block;
            color: #747a86;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }

  .lnr-envelope {
    .messages {
      padding: 0 26px;
      right: -17px;
      &::after {
        right: 28px;
      }
      &__item {
        display: flex;
        align-items: center;
        padding: 20px 0;
        border-top: 1px solid #e8ebf0;

        .item-info {
          display: flex;
          justify-content: space-between;

          .reply {
            margin-left: 5px;
          }
          .lnr {
            font-size: 14px;
            color: $blue;
            margin-left: 14px;
          }
          .author-name {
            line-height: 20px;
          }
          .author-time {
            font-size: 14px;
          }
          .recently {
            color: $blue;
          }
        }
        .item-message {
          font-size: 15px;
          color: $grey;
          margin-top: 15px;
        }
      }
    }
  }

  .lnr-cart {
    .messages {
      right: -32px;
      &::after {
        right: 40px;
      }
      .total {
        margin-right: 24px;
        margin-left: auto;
        color: #000;
        line-height: 80px;
        font-size: 18px;
        font-weight: 500;
        span {
          margin-left: 28px;
        }
      }

      .butns {
        display: flex;
        text-align: center;
        .btn-cart,
        .btn-checkout {
          width: 50%;
          color: $white;
          font-size: 15px;
          padding: 30px 0;
          line-height: 0;
        }
        .btn-cart {
          background-color: #7347c1;
        }
        .btn-checkout {
          background-color: $blue;
        }
      }

      &__item {
        border-bottom: 1px solid #e8ebf0;
      }

      &__item-inner {
        display: flex;
        padding: 26px 24px;
        align-items: flex-start;

        .item-avatar {
          width: 80px;
          height: 70px;
        }

        .item-descr {
          display: flex;
          align-items: center;

          .item-info {
            .item-name {
              color: #000000;
              font-weight: 500;
              line-height: 22px;
            }
            .author-technology {
              display: flex;
              align-items: center;
              font-size: 15px;
              color: #7347c1;
              line-height: 30px;
            }
            .icon-wordpress {
              font-size: 15px;
              margin-right: 6px;
            }
          }
          .action {
            .lnr-trash {
              margin-left: auto;
              margin-right: auto;
              display: block;
              width: 32px;
              height: 32px;
              text-align: center;
              border-radius: 50%;
              line-height: 32px;
              cursor: pointer;
              background-color: #f1ecf9;
              margin-bottom: 10px;
            }
            .price {
              display: block;
              color: $blue;
              background-color: #e6f1fd;
              padding: 6px 11px;
              border-radius: 15px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  &__icon {
    &:hover {
      .messages {
        display: flex;
      }
    }
  }
  .messages {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 370px;
    background-color: $white;
    z-index: 1;
    border-top-color: $blue;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: "Quicksand";
    font-size: 16px;

    .notification__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 65px;
      font-size: 18px;
      color: #000000;
      a {
        color: $blue;
        font-size: 15px;
      }
    }

    &__item {
      .author-avatar {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .item-descr {
        padding-left: 14px;
        width: 278px;
      }
      .author-name {
        color: #333333;
        font-weight: 500;
      }
    }
  }
}

.notification {
  margin-left: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;

  .lnr {
    color: #7e8fa1;
  }
  .lnr-alarm {
    .notification__count {
      background-color: $red;
      width: 26px;
    }
  }
  .lnr-envelope {
    .notification__count {
      background-color: $green;
    }
  }
  .lnr-cart {
    .notification__count {
      background-color: $blue;
    }
  }
  &__icon {
    position: relative;
    padding: 35px 10px;
    margin-left: 6px;
    margin-right: 6px;

    .notification__count {
      position: absolute;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      top: 20px;
      right: -6px;
      font-weight: 500;
      font-size: 14px;
      color: $white;
      cursor: pointer;
    }
  }
}
.slider {
  background-image: url("../images/BGcopy8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  .text {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    padding-top: 135px;
    text-align: center;
    color: #f3f3f8;
  }
  h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
  }
  span {
    display: block;
    font-weight: 700;
  }
  h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 65px 0;
  }
}

.btn__products {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  a {
    transition: all 0.5s;
    color: $white;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 24px 30px;
    line-height: 0;
  }
  a:not(:last-child) {
    margin-right: 30px;
  }
  a:hover {
    color: $blue;
    background-color: $white;
  }
}

.search {
  width: 100%;
  transform: translateY(50%);
  &__wrapper {
    position: relative;
    &::before {
      content: "";
      max-width: 97%;
      width: 100%;
      position: absolute;
      height: 13px;
      background-color: #fff;
      z-index: 2;
      opacity: 0.5;
      border-radius: 5px 5px 0 0;
      top: -13px;
      display: flex;
      justify-content: center;
      left: 1.5%;
      right: 16px;
    }
    &::after {
      content: "";
      max-width: 94%;
      width: 100%;
      position: absolute;
      height: 26px;
      background-color: #fff;
      z-index: 1;
      opacity: 0.3;
      border-radius: 5px 5px 0 0;
      top: -26px;
      display: flex;
      justify-content: center;
      left: 3%;
      right: 32px;
    }
  }
  &__inner {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    min-height: 135px;
    display: flex;
    padding: 0 40px;
    align-items: center;
    border-radius: 5px;
    position: relative;
    button {
      cursor: pointer;
    }
  }
  form {
    max-width: 1060px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    input {
      max-width: 808px;
      width: 100%;
      height: 55px;
      border: 1px solid #dcdcdc;
      margin-right: 30px;
      padding-left: 28px;
      border-radius: 5px;
      outline: transparent;
      &::placeholder {
        color: #676767;
      }
    }
    button {
      max-width: 223px;
      width: 100%;
      border: none;
      background-color: $blue;
      color: #fff;
      border-radius: 5px;
      outline: transparent;
    }
    select {
      position: absolute;
      max-width: 195px;
      width: 100%;
      height: 55px;
      right: 293px;
      padding-left: 20px;
      padding-right: 10px;
      border: 0;
      background-color: transparent;
      border-left: 1px solid #dcdcdc;
      outline: none;
      cursor: pointer;
      option {
        color: $grey;
      }
      .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
      }
    }
  }
}

.description {
  background-color: $white;
  margin: 186px 0 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__box {
    max-width: 360px;
    width: 100%;
    text-align: center;
  }
  .shadow {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &__img {
    padding-top: 40px;
  }
  &__heading {
    font-size: 24px;
    line-height: 60px;
    color: #010101;
  }
  &__text {
    line-height: 30px;
    color: $grey;
    padding: 0 30px 30px 30px;
  }
}

.fetured,
.release,
.followers {
  padding-top: 120px;
  padding-bottom: 120px;
  &__panel,
  .panel {
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__title,
  .title {
    line-height: 0;
    font-size: 30px;
    font-weight: 400;
    padding: 42px 0 42px 30px;
  }
  .tag {
    line-height: 30px;
    color: #868c96;
    background-color: #f1f3f6;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    outline: transparent;
  }
  .tag:hover {
    background-color: $blue;
    color: $white;
  }
}

.fetured,
.followers {
  background-color: #eff1f5;
  &__arrows {
    position: relative;
    width: 110px;
    height: 45px;
    border-radius: 25px;
    margin-right: 20px;
    button,
    button:active,
    button:focus {
      outline: none;
      background: none;
      border: 0;
      cursor: pointer;
      color: #fff;
    }
  }
  .icon-angle-left,
  .icon-angle-right {
    position: absolute;
    font-size: 25px;
    transform: translateY(-40%);
  }
  .icon-angle-left {
    left: 25px;
  }
  .icon-angle-right {
    right: 25px;
  }
}

.author {
  &__techname {
    &--psd::before {
      background-image: url("../images/PSD.png");
      width: 13px;
      height: 17px;
    }
    &--html::before {
      background-image: url("../images/html.png");
      width: 15px;
      height: 17px;
    }
    &--wordpress::before {
      background-image: url("../images/Forma1.png");
      width: 16px;
      height: 16px;
    }
  }
}

.fetured {
  &__arrows {
    background-color: #7347c1;
  }
  &__wrap {
    display: flex;
  }
  &__img {
    max-width: 555px;
    max-height: 450px;
  }
  &__description {
    padding-left: 50px;
    padding-right: 60px;
    background-color: $white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  }
  &__heading {
    font-weight: 500;
    font-size: 24px;
    margin-top: 50px;
  }
  .author {
    margin-top: 25px;
    display: flex;
    &__info {
      display: flex;
      align-content: center;
      outline: transparent;
    }
    &__name {
      margin: 0 20px 0 8px;
    }
    &__technology {
      display: flex;
    }
    &__techname {
      position: relative;
      color: #7347c1;
      outline: transparent;
      .icon-wordpress {
        margin-right: 4px;
      }
    }
    &__techname::before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 16px;
      height: 16px;
      background-size: contain;
    }
  }
  &__desctext {
    margin: 26px 0 30px 0;
    color: $grey;
  }
  &__tags {
    display: flex;
    border: #ececec;
    border-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 44px;
    .tag:not(:last-child) {
      margin-right: 7px;
    }
  }
  &__underline {
    position: relative;
    display: flex;
    line-height: 30px;
    margin-top: 22px;
    .lnr {
      cursor: pointer;
      margin-right: 10px;
      &-heart {
        color: #7347c1;
      }
      &-cart {
        color: $blue;
      }
    }
  }
  &__price {
    color: $white;
    background-color: $blue;
    padding: 0 18px 0 18px;
    border-radius: 15px;
  }
  &__likes {
    color: $grey;
  }
  &__buyes {
    color: #2787ef;
  }
  &__price,
  &__likes {
    margin-right: 20px;
  }
  &__likes,
  &__buyes {
    display: flex;
    align-items: center;
  }
  &__stars {
    position: absolute;
    right: 0;
    color: #ffc000;
  }
}

.release {
  background-color: #f6f7fb;
  &__filter {
    position: relative;
    color: #747b86;
    line-height: 32px;
    padding-right: 60px;
  }
  .dots::after {
    content: "";
    background-image: url("../images/three-dots.png");
    position: absolute;
    right: 30px;
    top: 7px;
    width: 5px;
    height: 20px;
  }
}

.filter__panel {
  margin: 30px 0 50px 0;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  &-btn {
    padding: 30px;
  }
  .tag {
    border: none;
    cursor: pointer;
  }
  .tag:not(:last-child) {
    margin-right: 6px;
  }
  .mixitup-control-active {
    background-color: $blue;
    color: $white;
  }
}

.product {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    margin-bottom: 30px;
    max-width: 360px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &-img {
      width: 360px;
      height: 230px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      .more {
        display: none;
        &__info {
          font-weight: 500;
          color: $white;
          line-height: 0;
          padding: 22px 30px 22px 30px;
          border-radius: 25px;
          border-color: $white;
          border-style: solid;
          border-width: 1px;
        }
        &__info:not(:last-child) {
          margin-right: 10px;
        }
        &__info:hover {
          transition: all 0.5s;
          background-color: $white;
          color: #0674ec;
        }
      }
    }
    &-img:hover .more {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../images/BGcopy8.png");
    }
    &-content {
      padding: 0 30px 0 30px;
      .author {
        display: flex;
        align-items: center;
        &__info {
          display: flex;
          align-items: center;
        }
        &__name {
          margin: 0 20px 0 7px;
        }
        &__techname {
          color: #7347c1;
          position: relative;
          padding-left: 25px;
        }
        &__techname::before {
          content: "";
          position: absolute;
          left: 0;
          top: 6px;
          background-size: contain;
        }
      }
    }
    &-title {
      font-weight: 500;
      font-size: 20px;
    }

    &-text {
      color: $grey;
    }
    .line {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #ececec;
    }
    &-underline {
      display: flex;
      line-height: 30px;
      margin: 15px 0 15px 0;
    }
  }
  &__price {
    background-color: #e6f1fd;
    color: $blue;
    padding: 0 17px 0 17px;
    margin-right: 13px;
    border-radius: 15px;
    font-weight: 500;
  }
  &__buyes,
  &__likes {
    .lnr {
      cursor: pointer;
      margin-right: 10px;
      &-heart {
        color: #7347c1;
      }
      &-cart {
        color: $blue;
      }
    }
  }

  &__buyes {
    margin-left: auto;
    position: relative;
    color: #468bef;
  }
  &__stars {
    padding-left: 16px;
    color: #ffc000;
    font-size: 13px;
  }
}
.btn__inner {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  button {
    background-color: $blue;
    color: $white;
    line-height: 0;
    padding: 28px 33px;
    border-style: none;
    border-radius: 25px;
    outline: transparent;
    cursor: pointer;
  }
}

.followers {
  .product__item {
    margin: 0;
  }
  background-color: #eff1f5;
  &__arrows {
    background-color: $blue;
  }
  &__slider {
    display: flex;
    justify-content: space-between;
  }
}

.overlay {
  background-color: #212225;
  &__inner {
    padding: 188px 0 80px 0;
    display: flex;
    justify-content: space-between;
  }
  &__img {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-size: contain;
    }
    &--briefcase::before {
      background-image: url("../images/briefcase.png");
      left: 32px;
      bottom: 52px;
      width: 48px;
      height: 41px;
    }
    &--cloud-download::before {
      background-image: url("../images/cloud-download.png");
      left: 18px;
      bottom: 52px;
      width: 48px;
      height: 29px;
    }
    &--smile::before {
      background-image: url("../images/smile.png");
      left: 50px;
      bottom: 46px;
      width: 46px;
      height: 47px;
    }
    &--users::before {
      background-image: url("../images/users.png");
      left: 28px;
      bottom: 50px;
      width: 48px;
      height: 37px;
    }
  }

  &__text {
    text-align: center;
    &-digits {
      font-size: 36px;
    }
    &-text {
      margin-top: 15px;
      display: block;
      font-size: 18px;
      color: $white;
    }
  }
}

.whychoose,
.feedback,
.news {
  background-color: $white;
  .text {
    color: $grey;
    line-height: 30px;
  }
  &__inner {
    padding: 80px 0 120px;
    .items__inner {
      margin-top: 58px;
    }
    .headding {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 680px;
      &__title {
        font-size: 36px;
        font-weight: 400;
        a {
          color: #0674ec;
        }
      }
    }
  }
}

.whychoose {
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item__inner {
      border-radius: 4px;
      margin-top: 40px;
      max-width: 360px;
      width: 100%;
      background-color: $white;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      .item__info {
        position: relative;
        padding: 100px 30px 46px 30px;
        text-align: center;

        &::before {
          content: "";
          position: absolute;
          background-size: contain;
          left: 150px;
          top: 20px;
        }
        &--license::before {
          background-image: url("../images/license.png");
          width: 60px;
          height: 48px;
        }
        &--wand::before {
          background-image: url("../images/magic-wand.png");
          width: 56px;
          height: 58px;
        }
        &--lock::before {
          background-image: url("../images/lock.png");
          left: 160px;
          width: 39px;
          height: 51px;
        }
        &--graph::before {
          background-image: url("../images/chart-bars.png");
          width: 57px;
          height: 57px;
        }
        &--leaf::before {
          background-image: url("../images/leaf.png");
          width: 60px;
          height: 60px;
        }
        &--phone::before {
          background-image: url("../images/phone.png");
          width: 60px;
          height: 48px;
        }

        .title {
          font-weight: 400;
          font-size: 24px;
          padding-top: 0;
        }
      }
      .number {
        color: #5c87f8;
        font-size: 48px;
        font-weight: 300;
        opacity: 0.2;
        display: block;
        margin: 20px 0 0 16px;
      }
    }
  }
}

.sellandbuy {
  display: flex;
  .sell,
  .buy {
    width: 50%;
    height: 560px;
    background-size: cover;
    color: $white;
    text-align: center;
    .img {
      margin-top: 100px;
    }
    .title {
      font-size: 36px;
      font-weight: 400;
      line-height: 30px;
    }
    .text {
      max-width: 600px;
      width: 100%;
      line-height: 30px;
      margin: 0 auto 46px auto;
    }
    .btn {
      line-height: 0;
      background-color: $white;
      padding: 26px 25px 26px 25px;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      border-radius: 25px;
      &:hover {
        color: $white;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        border-color: $white;
      }
    }
  }
  .sell {
    background-image: url("../images/BGblue.png");
    .btn {
      color: $blue;
    }
  }
  .buy {
    background-image: url("../images/BGpurple.png");
    .btn {
      color: #7347c1;
    }
  }
}

.feedback {
  .items__inner {
    display: flex;
    justify-content: space-between;
  }
  .item {
    max-width: 555px;
    width: 100%;
    padding: 50px 40px 28px 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: solid;
    border-left-width: 2px;
    border-color: $blue;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  .author {
    position: relative;
    display: flex;
    align-items: center;
    &__info {
      margin-left: 20px;
      .author__name {
        font-size: 20px;
      }
      .author__technology {
        color: $grey;
      }
    }
    &::after {
      content: "";
      background-image: url("../images/bubble.png");
      position: absolute;
      right: 0;
      top: 8px;
      width: 57px;
      height: 51px;
    }
  }
  .btn__inner {
    margin-top: 60px;
  }
  .btn {
    background-color: $blue;
    color: #fff;
    line-height: 0;
    padding: 28px 33px;
    border-style: none;
    border-radius: 25px;
    outline: transparent;
  }
}

.news {
  background-color: #eff1f5;
  .items__inner {
    display: flex;
    justify-content: space-between;
    .item {
      max-width: 360px;
      width: 100%;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
      &__img {
        width: 360px;
        height: 230px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      &__content {
        padding: 0 28px;
        line-height: 30px;
        .title {
          font-weight: 500;
          font-size: 22px;
        }
        .text {
          color: $grey;
          margin-bottom: 22px;
        }
      }
      .line {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #ececec;
        &__v {
          border-left-style: solid;
          border-left-width: 1px;
          border-left-color: #ececec;
        }
      }
      &__underline {
        display: flex;
        justify-content: space-between;
        color: #999999;
        margin: 14px 0 14px 0;
        .info {
          width: 45.5%;
          display: flex;
          justify-content: space-between;
          padding-left: 20px;
        }
        .date {
          max-width: 140px;
          width: 100%;
        }
        .date,
        .coments,
        .views {
          position: relative;
          padding-left: 24px;
        }

        .date::before,
        .coments::before,
        .views::before {
          content: "";
          position: absolute;
          left: 0;
        }

        .date::before {
          background-image: url("../images/clock.png");
          top: 7px;
          width: 16px;
          height: 15px;
        }
        .coments::before {
          background-image: url("../images/bubble_s.png");
          top: 8px;
          width: 16px;
          height: 14px;
        }
        .views::before {
          background-image: url("../images/eye.png");
          top: 10px;
          width: 17px;
          height: 9px;
        }
      }
    }
  }
}

.support {
  background-color: $white;
  &__inner {
    display: flex;
    justify-content: space-between;
    .line {
      border-left-style: solid;
      border-left-width: 1px;
      border-left-color: #ececec;
    }
  }
  &__item {
    max-width: 360px;
    width: 100%;
    text-align: center;
    margin: 62px auto 30px auto;
    .title {
      font-weight: 500;
      line-height: 24px;
      a {
        color: $blue;
      }
      a:hover {
        color: #7347c1;
      }
    }
  }
}

.join {
  background-image: url("../images/Overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__inner {
    text-align: center;
    color: $white;
    padding: 90px 0 100px 0;
    .title {
      font-size: 36px;
      font-weight: 400;
    }
    .text {
      font-size: 18px;
    }
    .btn {
      margin-top: 30px;
      background-color: $white;
      color: $blue;
      line-height: 0;
      padding: 26px 30px;
      border-style: none;
      border-radius: 25px;
      outline: transparent;
      &:hover {
        color: $white;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        border-color: $white;
      }
    }
  }
}

.footer {
  background-color: #262b30;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 120px 0;
    p,
    a {
      color: #ababab;
    }
    .title {
      font-size: 18px;
      font-weight: 400;
      color: $white;
    }

    .about {
      max-width: 264px;
      width: 100%;
      .logo {
        display: flex;
        align-items: center;
        &__text {
          padding-left: 6px;
          font-weight: 700;
          font-size: 24px;
          color: $white;
          span {
            color: $blue;
          }
        }
      }

      .phone,
      .mail,
      .map {
        position: relative;
        padding-left: 30px;
      }
      .phone,
      .mail,
      .map:not(:last-child) {
        margin-bottom: 5px;
      }
      .phone::before,
      .mail::before,
      .map::before {
        position: absolute;
        content: "";
        left: 0;
      }
      .phone::before {
        background-image: url("../images/phone_v2.png");
        width: 18px;
        height: 17px;
        top: 5px;
      }
      .mail::before {
        background-image: url("../images/envelope_v2.png");
        width: 17px;
        height: 11px;
        top: 10px;
      }
      .map::before {
        background-image: url("../images/map-marker.png");
        width: 10px;
        height: 17px;
        top: 15px;
      }
    }

    .company,
    .help {
      a {
        display: flex;
        line-height: 32px;
      }
    }
    .newsletter {
      max-width: 368px;
      width: 100%;

      .form {
        margin-top: 35px;
        position: relative;
        input {
          height: 50px;
          border: none;
          border-radius: 30px;
          outline: none;
          padding-left: 30px;
          padding-right: 125px;
          &::placeholder {
            color: #ababab;
          }
        }
        button {
          position: absolute;
          background-color: $blue;
          border: none;
          color: #fff;
          height: 51px;
          border-radius: 30px;
          width: 115px;
          right: 0;
          cursor: pointer;
          outline: none;
        }
      }

      a {
        margin-top: 45px;
      }
      span {
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        border-radius: 50%;
        position: relative;
        width: 40px;
        height: 40px;
        &::before {
          position: absolute;
          color: #fff;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &.facebook {
          background-color: #395799;
        }
        &.twitter {
          background-color: #19b2f5;
        }
        &.google {
          background-color: #f05b44;
        }
        &.pinterest {
          background-color: #9c0c1c;
        }
        &.linkedin {
          background-color: #0da6be;
        }
        &.dribbble {
          background-color: #ea4c89;
        }
      }
    }
  }
  &__bottom {
    background-color: #192027;
    height: 95px;
    display: flex;
    align-items: center;
    &-inner {
      color: #999999;
      a {
        display: inline-block;
        color: #fff;
      }
    }
  }
}

.top-search {
  background-image: url(../images/GradientO2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__inner {
    .title {
      text-align: center;
      color: $white;
      font-size: 26px;
      padding: 86px 0 32px 0;
      .digits {
        font-weight: 500;
      }
    }
    .search__box {
      display: flex;
      justify-content: center;
    }
    .navigation {
      text-align: center;
      font-size: 15px;
      padding: 38px 0 30px 0;
      li {
        display: inline-block;
        position: relative;
        &:nth-child(2) {
          &::before {
            content: "/";
            position: absolute;
            left: 8px;
            color: $white;
          }
        }

        & + li {
          padding-left: 25px;
        }
      }
      a {
        color: $white;
      }
      .now {
        color: #bfcad7;
      }
    }
  }
}

.filter {
  background-color: #fff;
  height: 100px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  &__inner {
    display: flex;
    justify-content: space-between;
    select {
      margin: 27px 0;
    }

    .product-class {
      margin-top: 40px;
      button {
        color: #555555;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        padding: 0;
        & + button {
          margin-left: 40px;
        }
        &.active {
          color: $blue;
        }
      }
    }

    .product-filter {
      display: flex;
      justify-content: space-between;
      select {
        margin-right: 30px;
        border: 1px solid #eceff2;
        border-radius: 4px;
        outline: none;
        color: #747b86;
        cursor: pointer;
        width: 220px;
        height: 45px;
        padding: 0 19px;
        font-size: 14px;
      }

      .filter__style {
        height: 45px;
        margin-top: 27px;
        display: flex;
        align-items: center;
        border: 1px solid #eceff2;
        border-radius: 4px;
        padding: 0 19px;
        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
          outline: none;
          color: #b5b9be;
          &.active {
            color: $blue;
          }
        }
      }
    }
  }
}

.product-page {
  background-color: #eff1f5;
  padding: 80px 0 170px;

  .filter-category,
  .filter-filter,
  .filter-price {
    height: 90px;
    overflow: hidden;
    border-radius: 5px;
    width: 263px;
    background-color: #fff;
    padding: 28px;
    margin-bottom: 29px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &.active {
      height: auto;
    }
    .filter-arrow.active {
      transform: rotate(180deg);
    }

    .aside__title {
      font-size: 20px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 1px solid #c3c6c9;
      .lnr {
        font-size: 12px;
        font-weight: 700;
        color: $grey;
        cursor: pointer;
      }
    }

    .aside__item-list {
      padding-top: 15px;
      .list1 {
        &::before {
          font-family: "Linearicons-Free";
          content: "\e876";
          position: absolute;
          left: 0;
          font-size: 12px;
        }
      }

      .list2 {
        &::before {
          content: "";
          position: absolute;
          left: 0;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 1px solid $grey;
        }
      }
      li {
        padding-left: 30px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        position: relative;
        display: flex;
        justify-content: space-between;
        a,
        span {
          color: $grey;
        }
        &:hover {
          a {
            color: $blue;
          }
        }
      }
    }
  }
}

.filter__inner {
  display: flex;
  justify-content: center;
}

.range-btn {
  background-color: $blue;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  border-radius: 30px;
  width: 170px;
  line-height: 32px;
  padding: 7px 5px;
  text-align: center;
  margin-top: 80px;
  border: none;
  outline: transparent;
  cursor: pointer;
}

.irs-max,
.irs-min {
  display: none !important;
}

.irs-bar {
  background-color: #7347c1 !important;
}

.irs--round .irs-handle {
  width: 18px !important;
  height: 18px !important;
  top: 29px !important;
}

.irs-from,
.irs-single,
.irs-to {
  top: 64px !important;
  background-color: #f1ecf9 !important;
  color: #7347c1 !important;
  font-size: 15px !important;
  padding: 8px 20px !important;
  border-radius: 20px !important;
  &::before {
    display: none !important;
  }
}

.product-page__inner {
  display: flex;
}
.product-page__content {
  margin-left: 30px;
  max-width: 850px;
  width: 100%;
}
.content_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.category-product__grid {
  max-width: 262px;
  width: 100%;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 30px;

  .category-product__inner {
    border-bottom: 1px solid #ececec;
  }
  .product__img {
    background-image: url("/images/BGproduct.png");
    width: 262px;
    height: 160px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .product-title {
    padding: 6px 0;
  }
  .product-info {
    margin: 0px 20px;
  }
  .product-author {
    margin: 12px 0;
  }
  .info-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
  }
  .underline {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }
  .icon-star {
    padding-right: 3px;
  }
  .product-price {
    padding: 0 17px 0 17px;
    margin-right: 13px;
  }
  .product-description,
  .product-likes,
  .product-coments,
  .product-tech__list,
  .product-buyes__list,
  .nomber-stars {
    display: none;
  }
}

.product-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.author-img {
  width: 30px;
  height: 30px;
}
.author-info {
  display: flex;
  align-items: center;
}
.author-name {
  line-height: 30px;
  margin-left: 6px;
}
.stars {
  color: #ffc000;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.product-buyes__list,
.product-buyes__grid {
  color: $blue;
  .lnr {
    margin-right: 10px;
  }
}
.product-tech__grid,
.product-tech__list {
  color: #7347c1;
  display: flex;
  align-items: center;
  span {
    margin-right: 5px;
  }
}
.product-price {
  background-color: #e6f1fd;
  color: #0674ec;
  border-radius: 15px;
  font-weight: 500;
}

.category-product__list {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 30px;
  display: flex;

  .product__img {
    background-image: url("/images/BGproduct1.png");
    width: 230px;
    height: 210px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .product-tech__grid,
  .product-buyes__grid {
    display: none;
  }
  .product-info__inner {
    max-width: 260px;
    padding: 0 30px 0 20px;
    margin: 23px 0;
    border-right: #ececec solid 1px;
  }
  .product-info {
    display: flex;
    justify-content: space-between;
  }
  .product-description {
    padding: 16px 0;
  }
  .product-tech__list {
    padding-left: 4px;
  }
  .product-author {
    padding-top: 16px;
  }
  .author-name{
    width: 120px;
  }
  .nomber-stars {
    color: #6f7d8d;
    padding-left: 4px;
  }
  .icon-star,
  .icon-star-half-empty {
    padding-right: 6px;
  }
  .product-likes,
  .product-coments {
    .lnr{
      color: #7f4ec2;
      padding-right: 6px;
    }
    color: #6f7d8d;
  }
  .info-inner{
    padding-top: 20px;
  }
  .info-inner__author{
    width: 210px;
  }
  .underline{
    width: 150px;
    display: block;
    text-align: center;
    padding: 0px;
    margin: auto 0;
  }
  .product-price{
    display: inline;
    padding: 4px 27px;
    &::after{
      content: ".00";
    }
  }
  .product-buyes__list{
    padding-top: 26px;
  }
}

.pages {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  a {
    background-color: $white;
    border-radius: 20px;
    color: #747b86;
    text-align: center;
  }
}
.nomber-page {
  margin: 0 3px;
  padding: 2px 17px;
  &:hover {
    background-color: $blue;
    color: $white;
  }
}
.current {
  background-color: $blue !important;
  color: $white !important;
}
.prew-page,
.next-page {
  padding: 2px 12px;
}
.prew-page {
  margin-right: 17px;
}
.next-page {
  margin-left: 17px;
  background-color: #7347c1 !important;
  color: $white !important;
}
